.sony_head {
    background-color: black;
    height: 50px;
}

.sony_head img {
    height: 50%;
}

.lens {
    width: 30px;
}

/* First Section */
#first_section {
    height: 675px;
    background-image: url(img/jumbo-bg.png);
    background-size: 100% 100%;
}


#first_section .col-lg-4, #first_section .col-lg-8 {
    height: 675px;
}


.first_text {
    padding: 0 0 200px 50px;
}


.first_text img {
    width: 250px;
}

.first_text h1, .first_text p {
    color: white;
    margin: 20px 0;
}

.first_text h1 {
    font-size: 50px;
}

.first_text p {
    font-size: 15px;
}

#first_section button {
    margin: 20px 0;
}